@import url(../fonts/font.css);

.header-container{
    width: 100%;
    height: 12vh;
    display: flex;
    top: 0;
    position: fixed;
    z-index: 9999;
}
.top-menu{
    width: 400px;
    height: 5rem;
    z-index: 9999;
    background-color:var(--bg-1);
    border: solid 1px var(--clr-4);
    border-radius: 18px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.766);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 6%;
}
.top-menu > .barayannd-logo{
    width: 20%;
}
.top-menu  > .menu-home-icon , .menu-setting-icon , .menu-info-icon {
    width:10%;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
}
.top-menu > hr{
    width: 1px;
    height: 46px;
    border-color:var(--bg-3);
}
.hero-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-card-main{
    flex-grow: 3;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;  
    background-image: url(../assets/svg/hero-candles-bg.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: center;
}
.hero-card-main > .btc-icon-hero{
    width: 90%;
    height: 64vh;
    margin: 0;
}
.hero-card-main > h2{
    width: 100%;
    max-width: 28%;
    text-align: center;
    margin: 0px;
    font-family: AbiVraiable;
    font-weight: bold;
    font-size: 1.4vw;
    color: var(--txt-3);
}
.hero-card-main strong {
     color: var(--txt-1);
}

.hero-card-main > h4{
    width: auto;
    font-family: AbiVraiable;
    font-weight: bold;
    padding: 8px;
    font-size: 1.2vw;
    text-align: center;
    background-color: var(--txt-1);
    border-radius: 50vw;
    color:var(--bg-1);
    position:absolute;
    left: 20%;
    top: 58%;
}

.left-absteract , .right-absteract , .login-cta-left-absteract , .ai-cta-right-absteract , .live-prices-cta-left-absteract , .leader-board-cta-right-absteract{
    flex-grow: 1;
    display: flex;
    justify-content: left;
    position:absolute;
    transition:  ease 0.5s;
}
.left-absteract{
    top: 40%;
    left:0%;
}
.right-absteract{
    top: 40%;
    right:0%;
}
.login-cta{
    width: 100%;
    height: 100vh;
    font-family: DornaRegular;
    background-color:var(--bg-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-cta-left-absteract{
    top: 140%;
    left:0%;
}
.login-cta > .cta-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.cta-icon > .user-icon{
    width: 70%;
    margin-right: 20px;
}
.login-cta > .cta-text-content{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.cta-text-content > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    font-family: DornaRegular;
    font-size: 0.95vw;
    width: 20%px;
    height: auto;
    cursor: pointer;
    border-radius: 38px;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.634);

}
.cta-text-content > hr{
    border-color: var(--clr-1);
    width: 60%;
    margin: 0 auto;
}
.cta-text-content > p{
    width: 70%;
    font-size: 2vw;
    text-align: center;
}
.ai-cta{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/svg/light-cta-bg.svg);
    background-size: cover;
    display: flex;
    direction: ltr  ;
    justify-content: center;
    align-items: center;
}
.ai-cta-right-absteract{
    top: 210%;
    right:0%;
}
.ai-icon{
    width:74%;
}
.ai-cta-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.ai-cta-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.ai-cta-content > h4 {
    font-family:  DoranClassic-bold;
    color:var(--clr-1);
    font-size: 2vw;
}
.ai-cta-content > hr {
    width: 50%;
    border:1px solid var(--clr-1);
}
.ai-cta-content > p {
    text-align: center;
    width: 60%;
     font-family: DornaRegular;
     color:var(--txt-3);
     font-size: 2vw;
}
.ai-cta-content > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DornaRegular;
    width: auto;
    border-radius: 38px;
    gap: 6px;
    cursor: pointer;
}
.ai-cta-content > button > p{
    font-size: 1vw;
    color: var(--clr-4);
    width: 100%;
}
.live-prices-cta{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/svg/line-dark-bg.svg);
    background-size: cover;
    display: flex;
    direction: rtl;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.live-prices-cta-left-absteract{
    top: 290%;
    left: 0%;
}

.live-prices-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
    transition:  ease 0.5s;
}
.prices-icon{
    width: 74%;

}
.live-prices-cta-currencies{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}
.live-prices-cta-currencies> button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.658);
    gap: 6px;
    cursor: pointer;
    width: auto;
}
.live-prices-cta-currencies > button > a , .leader-board-cta-content > button > p  {
    font-family: DornaRegular;
    font-size: 1.1vw;
    width: 100%;
    color: var(--clr-4);
}
.live-prices-cta-currencies > button > img , .leader-board-cta-content > button > img{
     width:18%;
}
.live-prices-card-container{
    width: 100%;
    height: 40vh;
    border-radius: 18px;
    border: 1px solid var(--clr-1);
    background-color: var(--bg-1);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.785);
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    direction: ltr;
}
.live-prices-card-container > hr {
    border-color: var(--clr-1);;
    width: 1px;
    height: 200px;
}
.live-prices-card-container > .price-card{
    flex-grow: 1;
    height: 90%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.603);
    border-radius: 18px;
    margin: 0;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: all ease 0.5s;
    padding: 16px;
}
.price-card > hr {
    display: flex;
    width: 100%;
    border-color: var(--bg-3);
    height: 1px;
}
.price-card-curreny-info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-card-currency-perview{
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    flex-grow: 1;
    align-items: center;
    gap: 16px;
}
.price-card-currency-price-change{
    background-color: #57ff5d64;
    box-sizing: border-box;
    color: var(--clr-2);
    width: auto;
    padding: 4px;
    border-radius: 20px;
    font-size: 1.2vw;
}
.price-card-currency-perview > h4{
    font-family: 'Segoe UI';
    font-size: 1.4vw;
}
.price-card-currency-name{
    font-family: AbiVraiable;
    color: var(--clr-1);
    font-size: 2vw;
}
.price-card-currency-logo{
    width: 30%;
}
.price-card-currency-price{
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: VazirBold;
    font-size: 1.6vw;
}

.footer-section-line{
    width: 86%;
    border-color: var(--clr-1);
    margin: 40px auto;
}
.barayannd-footer{
   width: 100%;
   height: auto;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0px; 
}
.barayannd-footer > hr {
    border: solid 1px var(--clr-1);
    width:10%;
}
.barayannd-footer > .barayannd-footer-right , .barayannd-footer-left{
    width:20%;
    height:auto;
    border: solid 1px var(--clr-1);
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0px;
}
.barayannd-footer-right > a , .barayannd-footer-left > a{
    color:var(--bg-3);
    font-family: AbiVraiable;
    cursor: pointer;
    font-size: 1.6vw;
}
.barayannd-footer-right > a:hover , .barayannd-footer-left > a:hover{
    color:var(--clr-1);
}
.barayannd-footer-right  > hr , .barayannd-footer-left  > hr   {
    border: solid 1px var(--bg-3);
    width: 80%;
}
.barayannd-footer > .barayannd-footer-middle {
    width: 20%;
    height: 40%;
    border: solid 1px var(--clr-1);
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.barayannd-footer-middle > img{
    width: 60%;
}
.copryright{
    text-align: center;
    font-family: VazirLight;
    color: var(--bg-3);
    margin-bottom: 20px;
    font-size: 1.2vw;
}
button{
    transition: background-color 0.4s;
}
button:hover{
    background-color: #0048bd;
}
@keyframes floating {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}
@media only screen and (max-width:900px){
 .left-absteract , .right-absteract , .login-cta-left-absteract  ,.ai-cta-right-absteract{
    width: 20%;
 }
 .left-absteract{
    top: 16%;
    left:0%;
}
 .right-absteract{
    top: 54%;
    left:0%;
}
 .login-cta-left-absteract{
    top: 94%;
    left:0%;
}

 .ai-cta-right-absteract{
   top: 150%;
   right: 0;
}
 .hero-card-main{
    gap: 20px;
}
 .hero-card-main > h2{
    max-width: 100%;
    padding: 30px;
    font-size: 18px;
    margin: 0;
}
 .hero-card{
    height: 70vh;
}
 .hero-card-main > h4 , .ai-cta-right-arrow , .login-cta-left-arrow {
    display: none;
}
 .login-cta {
    height: 60vh;
    gap: 30px;
     flex-direction: column;
}
 .cta-icon > .user-icon{
    width: 40%;
}
 .cta-text-content{
    gap: 10px;
}
 .cta-text-content > p{
    font-size: 1rem;
     width: 100%;
}
 .hero-card-main > .btc-icon-hero{
    height: auto;
}
 .live-prices-cta-currencies > button > a{
     font-size: 1rem;
 }
 .ai-cta{
    background-color: var(--bg-1);
    background-image: none;
     flex-direction: column;
}
 .ai-cta-content > h4 {
    font-size: 1.4rem;
}
 .ai-cta-content > hr {
    width: 80%;
    border:1px solid var(--clr-1) ;
}
 .ai-cta-content > p {
    text-align: center;
    width: 90%;
     font-family: DornaRegular;
     color: var(--bg-3);
     font-size: 1.6rem;
}
 .barayannd-footer{
    width: 90%;
}
 .barayannd-footer > .barayannd-footer-right , .barayannd-footer-left{
    height: 40%;
    width: 100%;
    padding: 30px 0px;
    gap: 18px;
    border-radius: 18px;
    margin-bottom: 20px;
    font-size: 1rem;
}
 .barayannd-footer > .barayannd-footer-middle{
    padding: 10px 0px;
    width: 50%;
    border-radius: 12px;
}
 .copryright {

}
 .barayannd-footer-right > a , .barayannd-footer-left > a , .leader-board-cta-content > button > p
 , .live-prices-cta-currencies > button > p , .price-card-currency-price , .price-card-currency-perview > h4 ,.price-card-currency-name 
 , .price-card-currency-price-change , .cta-text-content > button , .ai-cta-content > button > p {
    font-size: 1rem;
 }

}
@media ( max-width :1500px){
 .live-prices-cta-left-absteract{
   top:210% ;
   width: 20%;
}
 .live-prices-cta{
    flex-direction: column;
    height: auto;
    padding:20px;
}
 .live-prices-card-container{
    width: 100%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
}
 .live-prices-left-arrow , .live-prices-card-container > hr {
    display: none;
}
 .live-prices-cta-currencies{
    width: auto;
}
}
