.currencies-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.69);;
    z-index: 99999;
    display:none;
    justify-content: center;
    align-items: center;
}
.currencies-modal.active{
    display: flex;
}
.currencies-modal-card{
    height: 80%;
    width: 26%;
    overflow: auto;
    scrollbar-width: none;
    background-color:black;
    border-radius: 20px;
    align-items: center;

}
.currencies-modal-card-header{
    width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    position: fixed;
    top: 10%;
}
.currencies-modal-card-header > .header-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    background-color:black;
    border-radius: 20px;
}
.close_modal{
    cursor: pointer;
}
.currencies-modal-card-header > .currencies-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #121212;
}
.currencies-header > h6{
    font-family: VazirLight;
}
.currencies-header > #modal-cuurency-name{
    width: 30%;
    text-align: right;
}
.currencies-header > #modal-cuurency-change{
    flex-grow: 1;
    text-align: left;
}
.header-title > h4 {
    flex-grow: 1;
    text-align: right;
    font-family: VazirLight;
}
.trades-page-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.prices-row{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}
.currency-modal-price-row{
    width: 100%;
    height: auto;
    padding: 15px 20px;
    border-bottom: solid 1px var(--txt-3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.currency-detail{
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    gap: 8px;
}
.currency-detail > img{
    width: 20%;
}
.currency-price{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.currency-detail >.currency-name{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.currency-name > h5 , h6 {
    width: 100%;
    text-align: right;
    font-family: VazirLight;
}
.currency-name > h5 > span {
    color: var(--bg-2);
}
.currency-price > p{
    width: 100%;
    text-align: left;
    font-family: VazirLight;
    font-size: 0.8rem;
}
.currency-price > h6 {
    width: 100%;
    text-align: left;
    color: #7dff86;
    font-family: VazirLight;
}
#submit_transaction{
    cursor: pointer;
}
.transaction-confirm-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.69);;
    z-index: 99999;
    display:none;
    justify-content: center;
    align-items: center;
}
.transaction-confirm-modal.active{
    display: flex;
}
.confirm-modal-card{
    width: 26%;
    background-color: var(--bg-1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}
.transaction_details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.currency_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.curreny-name-confirmation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.curreny-name-confirmation > h4 , .curreny-name-confirmation > p{
    width: 100%;
    font-family: VazirLight;
    text-align: right;
    margin: 0;
}
.curreny-name-confirmation > h4 > span{
    color: var(--txt-3);
}
.transaction-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
.transaction-amount > h4 , .transaction-amount > h6 {
    font-family: VazirLight;
    width: 100%;
    text-align: left;
    font-size: 1vw;
}

.transaction-amount > h6 {
    color: var(--txt-3);
}
.action{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.action > h4 {
    width: 100%;
    text-align: right;
    font-family: VazirLight;
}
.buttons > button {
    flex-grow: 1;
    font-family: VazirLight;
    color: var(--clr-4);
    cursor: pointer;
}
.buttons > #reject_button{
    background-color: transparent;
    color: red;
}
.buttons > #confirm_button{
    background-color: transparent;
    width: 70%;
    background-color:  #00C864;
}
.confirm-modal-card-currency > h4{
    font-family: VazirLight;
}
.transaction-inputs{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.transaction-tabs{
    width: 90%;
    height: 10%;
    border: solid 2px var(--bg-3);
    border-radius: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.transaction-tabs > h2{
    font-family: VazirLight;
    font-size: 1.4vw;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vw;
    background-color: #00C864;
}
#sell_transaction{
    background-color: transparent;
}
.currencies-wrapper-preveiw{
    height: 13%;
    width: 90%;
    border: solid 1px var(--bg-3);
    padding: 0px 20px;
    border-radius: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.currency{
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
.currency > img:not(#wrapper_arrow){
    width: 20%;
}
#wrapper_arrow{
    cursor: pointer;
}
.currency > h2 {
    font-family: VazirLight;
    font-size: 1.2vw;
    color: var(--clr-4);
}
.transaction-history{
    flex-grow: 1;
    height: 100%;
}
.transaction-details-inputs{
    width: 90%;
    height: 24%;
    gap: 10px;
}
.transaction-details-inputs > .input-fields{
    width: 98%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction-details-inputs > input{
    width: 100%;
    height: 46%;
    border: solid 2px var(--bg-2);
    border-radius: 20px;
    font-family: VazirLight;
    font-size: 1.2rem;
    padding-right: 20px;
    color:var(--clr-4);
    background-color: transparent;
}
.transaction-details-inputs > label{
    font-family: VazirLight;
    position: relative;
    top: 10%;
    right: 8%;
    color: var(--clr-4);
    background-color: var(--clr-1);
    border-radius: 50vw;
    padding: 2px 20px;
}
.amount-and-currency-info{
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    margin-top: 40px;
    padding-right: 10px;
}
.amount-and-currency-info > h4{
    font-family: VazirLight;
    width: 100%;
    text-align: right;
    color: var(--txt-2);
}
.amount-and-currency-info > h4 > span{
    color: var(--txt-1);
}
.transaction-inputs > button{
    width: 88%;
    font-family: VazirLight;
    color: white;
}
@media (max-width: 960px) {
    .currencies-modal-card,.currencies-modal-card-header {
        width: 80%;
    }
    .transaction-inputs{
        width: 100%;
        height: 76%;
        margin-left: auto;
        margin-right: auto;

    }
    .transaction-tabs > h2{
        font-size: 1rem;
    }
    .currency > h2 {
        font-size: 1rem;
    }
    .prices-row{
        margin-top: 140px;
    }
    .confirm-modal-card{
        width: 70%;
    }
    .curreny-name-confirmation > h4 , .curreny-name-confirmation > p{
        font-size: 3vw;
    }
    .transaction-amount > h4 , .transaction-amount > h6 {
        font-size: 2.6vw;
    }
    #confirm-currency-icon{
        width: 20%;
    }
    .action > h4 {
        font-size: 3.4vw;
    }
    .buttons > button{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
