@import url(../../fonts/font.css);
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: url(../assets/hero-candles-bg.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.container > img {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
}

.person-card{
    width: 40%;
    height: auto;
    background-color: var(--bg-1);
    border-radius: 50px;
    border-bottom-right-radius:0px ;
    border: solid 1px var(--txt-3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-card{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:28px;
}
.user-preveiw{
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
.user-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-name > h4 , .user-name > h6{
    width: 100%;
    font-family: VazirLight;
}
.user-name > h6{
    color: var(--txt-2);
}
.cta-icons{
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.cta-icons > a{
    font-family: VazirBold;
    text-decoration: underline;

}
.text-content{
    width: 100%;
    padding: 0px 28px 28px 28px;
}
.text-content > p {
    font-family: VazirLight;
}
.text-content > p > strong{
    font-family: VazirBold;
    color: var(--clr-4);
}
@media (max-width: 960px) {
    .container{
        flex-direction: column;
    }
    .person-card{
        width: 95%;
    }
    .text-content{
        padding: 0px 28px;
    }
    .text-content > p {
        font-size: 2.5vw;
    }
    .cta-icons > img{
        width: 26%;
    }
    .cta-icons > a{
        font-size: 0.6rem;
    }
    .user-preveiw > img{
        width: 20%;
    }
}