.modal-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.73);
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container.shown{
    display: flex;
}
.edit_user_modal{
    width: 28%;
    height: 64vh;
    border-radius: 28px;
    background-color: var(--bg-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
#close_modal{
    position: relative;
    top: -4%;
    left: -41%;
    cursor:pointer;
}
#edit_user{
    cursor: pointer;
}
.edit_user_modal > hr {
    width: 100%;
    border-color: var(--txt-3);
}
.edit_user_modal > h2 {
    width: 100%;
    text-align: center;
    font-family: VazirLight;
    color: var(--clr-1);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-message-box{
    padding: 10px 20px;
    border: solid 1px var(--txt-3);
    border-radius: 50vw;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: fixed;
    top: 6%;
    right: auto;
    left: auto;
    background-color: var(--bg-2);
    transform: translateY(0%);
    transition: all 0.4s ease-out;
}
.modal-message-box.active{
    display: flex;
    transform: translateY(40%);
}
.modal-message-box > h4 {
    font-family: VazirLight;
    font-size: 1vw;
}
.fields-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
    gap: 12px;
}
.form_fields_align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 16%;
}
.fields-holder > button {
    width: 70%;
    font-family: VazirLight;
    color: var(--clr-4);
    cursor: pointer;

}
.form_fields_align > label {
    font-family: VazirLight;
    color: var(--clr-4);
    width: 100%;
    text-align: right;
}
.form_fields_align > input{
    width: 100%;
    height: 100%;
    padding-right: 10px;
    border: solid 1px var(--txt-2);
    border-radius: 10px;
    background-color: var(--bg-1);
    color: var(--clr-4);
    font-family: VazirLight;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top , #2E588F -180% ,  var(--bg-1) 40% );
}
.header-and-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    height:auto;
    overflow-x: hidden;

}
.content-container{
    height: 94% ;
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding: 20px 12px;
    gap: 20px;
    overflow-x: hidden;

}
.user-top-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 34px;
}
.user_information-card{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.profile-ui{
    display: flex;
}
.profile-ui > img{
    width: 100%;
    height: 100%;
}
#logout{
    cursor: pointer;
}
.profile-information{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.user-fields{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    width: 100%;
}
.edit-user-icon {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}
.profile-information > p{
    font-family: VazirLight;
    width: 100%;
    font-size: 1.4vw;
    text-align: right;
}
.user-fields > h1{
    font-size: 1.4vw;
    text-align: right;
    font-family: VazirLight;

}
.profile-information > p{
    color: var(--clr-1);
}
.logout-sec{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}
.logout-sec > a > img {
    width: 70%;
}
.contact-information{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-right: 34px;
    width: 100%;
}
.contact-information > h4 , .contact-information > h2 {
    font-family: VazirLight;
}
.contact-information > h2{
    width: 100%;
    text-align: right;
    font-size: 1.2vw;
}
.contact-information > h4{
    margin-left: auto;
    padding: 26px 60px;
    text-align: right;
    border-radius: 20px;
    border: solid 1px var(--bg-2);
}

@media (max-width: 960px) {
    .user-fields > h1{
        font-size: 1rem;
    }
    .contact-information > h2{
        font-size: 1rem;
    }
    .edit_user_modal{
        width: 80%;
    }
    #close_modal{
        left: -38%;
        width:8%;
    }
    .contact-information > h4{
        width: 100%;
        padding: 26px 20px;
    }
    .modal-message-box > h4 {
        font-size: 3.6vw;
    }
}


