@import url(../../fonts/font.css);
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-welcome-card{
  width: 30%;
  height: 38vh;
  background: url(../../assets/svg/abstract-top-bg.svg);
  background-size:cover;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--clr-1);
  border-top: none;
  border-radius: 0px 0px 6vw 6vw;
  transform: translateY(-120%);
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
}
.top-welcome-card.visible{
    transform: translateY(0px);
}
.top-welcome-card > h2{
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  font-size: 1.6vw;
  color: var(--clr-1) ;
  font-family: DornaRegular;
}
.form-card{
    position: fixed;
    bottom: 0;
    height: 74vh;
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-family: AbiVraiable;
    font-weight: 500;
    font-size: 1vw;
    border-radius: 6vw 6vw 0px 0px;
    border: solid 1px var(--clr-1);
    border-bottom: none;
    background-color: var(--bg-1);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.705);
    transform: translateY(120%);
    transition: all 0.4s ease;
}
.form-card.visible{
    transform: translateY(0px);
}
.form-card > .login-btn , .signUp-btn {
    position: fixed;
    background-color: var(--bg-3) ;
    cursor: pointer;
    border-radius: 4vw;
    font-family: DornaRegular;
    padding: 10px 34px;
    width:auto;
    height:auto;
}
.form-card > .login-btn.active , .signUp-btn.active{
    background-color: var(--clr-1) ;
}
.login-btn > p , .signUp-btn > p {
    font-size: 1vw;
    color: var(--clr-4);
}
.form-card > .login-btn{
    top: -4%;
    left:28%;
}
.form-card > .signUp-btn{
    top: -4%;
    right:28%;
}
.form-fields{
    height: 74%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-family: AbiVraiable;
    font-weight: 500;
    font-size: 1vw;
}
.form-fields > input{
    width: 70%;
    height: 18%;
    padding-left: 14px;
    text-align: center;
    border-radius: 4vw;
    border: solid 1px var(--clr-1);
    background-color: var(--bg-3);
    color: var(--clr-4);
    font-family:  VazirMedium ;
    font-size: 1.2vw;
    font-weight: 800;
}
.form-fields > .submit-btn{
    width: 70%;
    height: 18%;
    border-radius: 4vw;
    color: var(--clr-4);
    font-family: AbiVraiable;
    font-size: 1.2vw;
    cursor: pointer;
}
.phone-number-confiramtion-input-card{
    width: 74%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: VazirLight;
    font-weight: 500;
    font-size: 0.75vw;
    text-align: center;
}
.phone-number-confiramtion-input-card.non-active{
    display: none;
}
.phone-number-confiramtion-input-card > .confirmation-code-inputs{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    direction: ltr;
}
.edit-phone-number{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    color: var(--clr-1);
    cursor: pointer;
}
.edit-phone-number > h4{
    color: var(--clr-1);
    font-size: 1vw;
}
.edit-phone-number > img{
    width: 5%;
}
.confirmation-code-inputs > input{
    width: 20%;
    height: 56%;
    border-radius: 1vw;
    background-color: var(--bg-3);
    border: solid 1px var(--clr-4);
    font-family: VazirLight;
    font-weight: 500;
    font-size: 2vw;
    text-align: center;
    color: var(--clr-4);
}
.phone-number-confiramtion-input-card > button{
    width: 100%;
    height: 16%;
    border-radius: 4vw;
    color: var(--clr-4);
    font-family: AbiVraiable;
    font-size: 1.2vw;
    cursor: pointer;
}
.phone-number-confiramtion-input-card > hr{
    width: 96%;
    border-color: var(--bg-3);
}
.barayannd-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4%;
    gap: 50px;
}
.barayannd-footer > hr{
    width: 40%;
    border-color: var(--clr-1);
}
.barayannd-footer > img{
    width: 20%;
}
@media (max-width:1200px){
    .top-welcome-card{
        width: 70%;
        height: 30vh;
        border-radius: 0px 0px 16vw 16vw;
    }
    .top-welcome-card > h2 , .phone-number-confiramtion-input-card > h2 , .phone-number-confiramtion-input-card > button , .edit-phone-number > h4{
        font-size: 1rem;
    }
    .form-card{
        height: 74vh;
        width: 70%;
        border-radius: 16vw 16vw 0px 0px;
        font-size: 1rem;
    }
    .form-card > .login-btn , .signUp-btn{
        height: 6%;
        width: 18%;
        padding:0;
    }
    .login-btn > p , .signUp-btn > p{
        font-size: 0.7rem;
    }
    .phone-number-confiramtion-input-card{
        width: 90%;
    }
    .confirmation-code-inputs > input{
        height: auto;
        width: 36%;
        padding: 16px 0px;
    }
    .phone-number-confiramtion-input-card > button{
        width: 100%;
        height: auto;
    }
    .edit-phone-number > img{
        width: 10%;
    }
    .form-fields > input {
        height: auto;
        padding: 10px 0px;
        font-size: 0.8rem;
    }
    .form-fields > .submit-btn {
        height: auto;
        font-size: 0.8rem;
    }
    .form-fields{
        font-size: 0.6rem;
    }
    .barayannd-footer > hr{
        width: 60%;
        
    }
    .barayannd-footer > img{
        width: 30%; 
    }
}
