@import url(../../fonts/font.css);
.barayannd-admin-header{
    width: 100%;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barayannd-admin-header > h1{
    font-family: AbiVraiable;
    width:auto;
    text-align: right;
    padding: 40px;
}
.barayannd-admin-header > h1 > span{
    font-size: 4rem;
    text-align: center;
    color: var(--txt-3);
}
.barayannd-admin-header > hr {
    flex-grow: 1;
    border: solid 1px var(--txt-3);
}
.admin-live-time-and-date{
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 16px;
}
.admin-live-time-and-date-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin-live-time-and-date-holder > h4 , .admin-live-time-and-date-holder > h6{
    font-family: VazirLight;
    width: 100%;
    text-align: left;
}
.container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.admin-tab-options{
    width: 20%;
    height: 46vh;
    position: fixed;
    right: 0;
    border-radius: 40px 0 0 40px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.56);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.tab-option{
    position: relative;
    width: 70%;
    height: auto;
    padding: 22px 10px;
    border: solid 3px var(--bg-3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.tab-option.active{
    border: solid 3px var(--clr-1);
}
.tab-option > img{
    position: absolute;
    top: -46%;
    background-color: var(--bg-1);
    padding: 6px;
}
.tab-option > h4{
    font-family: VazirLight;
}
.admin-option-content{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 40px;
    align-items: center;
}
.controller-card{
    width: 90%;
    height: auto;
    padding: 30px;
    background-color: var(--bg-1);
    border-radius: 50vw;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.checkbox > select{
    font-family: VazirBold;
    border-radius: 50vw;
    border: 3px solid var(--clr-5);
}
.controller-card > h3 , label{
    font-family: VazirBold;
    color: var(--clr-5);

}
.controller-card > hr{
    flex-grow: 1;
    border: solid 1px var(--txt-2);
}
#admin-message-box{
    font-family: VazirLight;
    display: none;
}
#admin-message-box.shown{
    display: flex;
}
.container-users{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-right: 180px;
}
.users-cards{
    height:74%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    position: fixed;
    top: 18%;
    gap: 10px;
}
.info-column{
    display: flex;
    width: 76%;
    border-radius:50vw;
    background-color: var(--bg-2);
    cursor: pointer;
    align-items: center;
    padding: 20px;
    gap: 30px;
    z-index: 99999999;
}
.info-column.header{
    background-color: var(--clr-1);
}
.info-column > h3{
    font-family: VazirLight;
    color: var(--clr-4);
    width: 100%;
    text-align: center;
}
.info-column > h4{
    width: 100%;
    text-align: center;
    font-family: VazirLight;
}
.admin-modal{
    z-index: 99999;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 2, 2, 0.73);
}
.admin-modal.active{
    display: flex;
}
.admin-modal-card{
    width: 30%;
    border-radius: 20px;
    background-color: var(--bg-1);
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-information{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#close-admin-modal{
    position: relative;
    top:-25%;
    right:-1%;
    width: 30px;
    cursor: pointer;
}
.user-details-sec{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-details-sec > h2{
    font-family: VazirLight;
    width: 100%;
    text-align: right;
}
.user-details-sec > h4{
    color: var(--txt-2);
    font-family: VazirLight;
    width: 100%;
    text-align: right;

}
#modal_user_name{
    font-size: 1vw;
}
.user-opreations{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.user-opreations > button{
    flex-grow: 1;
    border-radius: 50vw;
    border: solid 1px var(--txt-2);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: VazirLight;
    color: var(--clr-4);
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
 button  > a{
     text-decoration: none;
     color: white;
     cursor: pointer;
     font-family: VazirBold;
 }
@media (max-width: 960px) {
    .barayannd-admin-header{
        display: none;
    }
    #modal_user_name{
        font-size: 1rem;
    }
    .admin-tab-options{
        top: 0;
        flex-direction: row;
        width: 100%;
        height: 14vh;
        padding: 14px;
        border-radius: 0px 0px 40px 40px;
    }
    .tab-option{
        padding: 10px 10px;
    }
    .tab-option > img{
        width: 34px;
        height: 34px;
    }
    .container {
        justify-content: center;
        height: 90vh;
    }
    .container-users{
        height: 100vh;
        padding:20px;
        position: fixed;
    }
    .users-cards{
        height:80%;
    }
    .info-column{
        height: 8%;
        width: 100%;
    }
    .info-column > h3{
        font-size: 3vw;
        height: auto;
    }
    .info-column > h4{
        font-size: 2.3vw;
    }
    .info-column.header{
        margin-top: 90px;
    }
    .admin-option-content{
        width: 100%;
        padding: 0;
        height: 60%;
        justify-content: unset;
    }
    .controller-card{
        padding: 20px 6px;
    }
    .controller-card > h3{
        font-size: 0.8rem;
    }
    .checkbox > label{
        font-size: 0.5rem;
    }
    .controller-card > hr{
        display: none;
    }
    .admin-modal-card{
        width: 90%;
    }
    #user_name{
        font-size: 2vw;
    }
}