.terms-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
.terms-section{
    width: 90%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.terms-description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 2rem;
}
.description-title{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 14px;
}
.description-title > h1{
    color: var(--clr-1);
}
.terms-description > p{
    font-family: VazirBold;
    padding: 0 60px;
    font-size: 1.2rem;
}
.terms{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.term-card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: solid 1px var(--txt-2);
    border-radius: 10px;
    background-color: var(--bg-1);
}
.term-preveiw{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 20px 30px;
    align-items: center;
    background-color: var(--bg-2);
    border-radius: 10px;
}
.term-text-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition:
            max-height 350ms ease,
            opacity 200ms ease;
}
.term-text-content.active{
    opacity: 1;
    max-height: 600px;
}
.term-text-content > li , .term-text-content > p{
    font-family: VazirBold;
    width: 100%;
    text-align: right;
    margin: 0.8rem;
    margin-right: 100px;
    color: var(--txt-2);
}
.term-text-content > p{
    margin: 0;
    margin-right: 100px;
    padding: 20px 0px;
}
@media (max-width: 960px) {
    .description-title > h1{
        font-size: 1rem;
    }
    .description-title > img {
        width: 10%;
    }
    .terms-description > p{
        width: 100%;
        font-size: 1rem;
        text-align: right;
        padding: 0;
    }
    .term-preveiw > h3{
        font-size: 1rem;
    }
    .term-text-content > li , .term-text-content > p{
        margin: 0;
        padding: 10px;
    }
}