.save_messages_container{
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /*padding-right: 40px;*/
    overflow: auto;
    scrollbar-width: none;
}
.message-card-border{
    width:50%;
    height: auto;
    border: solid 1px var(--txt-2);
    border-radius:5vw 5vw 5vw 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    margin-left: auto;
}
.message-card-border.non-active{
    display: none;
}
.message-card-top{
    width: 100%;
}
.message-card-top , .delete-message , .message-card-top > .barayannd-ai , .message-card-top > .actions {
    display: flex;
    justify-content: right;
    align-items: center;
}
.message-card-top > .barayannd-ai{
    width: 50%;
    gap: 10px;
    justify-content: right;
    padding-right: 20px;
}
.barayannd-ai > h4 , .actions > p  {
    font-family: VazirLight;
}
.message-card-top > .actions{
    width: 40%;
    justify-content: left;
    gap: 10px;
}
.message-card-top > p{
    flex-grow: 1;
}
.delete-message{
    justify-content: left;
    padding-left: 10px;
    gap: 6px;
}

.delete-message > h4 {
    font-family: VazirLight;
}
.message-text-content{
    width: 100%;
    height: auto;
    padding:10px 0px;
    padding-right: 30px;
}
.message-text-content > p{
    width: 90%;
    word-wrap: break-word;
    text-align: right;
    font-family: VazirLight;
}
#guide_text{
    font-family: VazirBold;
    color: var(--txt-3);
    width: 96%;
    text-align: center;
    font-size: 1rem;
}
@media (max-width: 960px) {
    .message-card-border{
        width: 90%;
    }
    .barayannd-ai > h4{
        display: none;
    }
    .save_messages_container{
        margin: 0 auto;
    }
}

