@import url(../../fonts/font.css);

.wallet-sec-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.portfolio-cards{
    width: 90%;
    height: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 9999;
}
.asset-card , .asset-verity {
    width: 50%;
    border-radius: 50px;
    height: 90%;
    box-shadow: inset 0 0 20px rgba(134, 134, 134, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.asset-card{
    gap: 30px;

}
.assets-value-holder-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.assets-value-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}
.assets-value-holder-sec > hr{
    width: 90%;
    border: solid 1px var(--txt-3);
}
.assets-value-reveiw{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.assets-value-reveiw > h2 {
    flex-grow: 1;
    text-align: left;
    font-family: VazirLight;
    font-size: 1rem;
}
.assets-value-reveiw > h4 {
    font-family: VazirLight;
    width: 100%;
    text-align: left;
    color: #00C864;
    font-size: 1rem;
}
.assets-value-holder > h4{
    flex-grow: 1;
    text-align: right;
    font-family: VazirLight;
}
.wallet-actions{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.wallet-actions > a{
    width: 100%;
}
#sell_btn_wallet , #buy_btn_wallet {
    font-family: VazirBold;
    cursor: pointer;
    width: 100%;
}
#sell_btn_wallet{
    background-color: var(--clr-4);
    color: var(--bg-1);
}
#buy_btn_wallet{
    background-color: #07FC30;
    color: white;
}
.asset-verity-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    gap: 0px;
}
.asset-verity-labels{
    width: 40%;
    padding:  0px 30px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    gap:4px;
}
.asset-verity-labels > li{
    font-family: VazirLight;
    color: var(--clr-4);

}
canvas{
    width: 0;
    height: 0;
}
.asset-verity-chart{
    width: 84% !important;
    height: 84% !important;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assets-cards-container{
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width:none;
    gap: 10px;
}
.assets-card-holder{
    width: 100%;
    height: 100px;
    scroll-behavior: smooth;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: inset 0 0 20px rgba(134, 134, 134, 0.3);
    display: flex;
    justify-content: right;
    align-items: center;
}
.asset-icon-sec{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0px 16px;
}
.asset-icon-sec > h4{
    font-family: VazirLight;
    font-size: 1.6vw;
    width: 100%;
    text-align: right;
}
.asset-info{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
}
.asset-info > h4{
    font-family: VazirLight;
    width: 100%;
    text-align: left;
    font-size: 1.2vw;
}
.asset-info > h4 > strong{
    font-family: VazirBold;
    color: var(--txt-2);
    font-size: 0.7rem;
}
.wallet-sec-container > h6{
    font-family: VazirLight;
    margin: 0;
}
#left_chevron{
    position: fixed;
    display: none;
    top: 77%;
    left: 4%;
}
#down_chevron{
    display: flex;
}
@media (max-width: 960px) {
    .assets-card-holder{
        width: 70%;
    }
    .asset-info > h4{
        font-size: 0.8rem;
    }
    .asset-icon-sec > h4{
        font-size: 1rem;
    }
    .portfolio-cards{
        flex-direction: column;
        width: 90%;
        box-shadow: inset 0 0 20px rgba(134, 134, 134, 0.3);
        height: 84%;
        border-radius: 40px;
        z-index: 999999;
        padding-top: 10px;
    }
    .asset-card , .asset-verity {
        width: 100%;
        box-shadow:none;
    }
    .wallet-sec-container{
        gap: 8px;
    }
    .assets-cards-container{
        height: 16%;
        width: 90%;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .assets-card-holder{
        width: 100%;
        height: 70px;
        border-radius: 50vw;
    }
    .asset-verity-container{
        direction: rtl;
        flex-direction: column;

    }
    .asset-verity-labels{
        flex-direction: row;
        width: 100%;
        gap: 30px;
    }
    .asset-card{
        justify-content: center;
    }
    .assets-value-reveiw > h4 {
        font-size: 0.8rem;
    }
    .asset-verity-container{
        justify-content: center;
        align-items: center;
    }
    .asset-verity-chart{
    }
    .asset-verity-labels{
        align-items: center;
        justify-content: center;
    }
    .wallet-actions{
        width: 85%;
    }
    .assets-value-holder > h4{
        font-size: 0.8rem;
    }
    #left_chevron{
        display: flex;
    }
    #down_chevron{
        display: none;
    }
}